<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <label>Email:</label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label>Username:</label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label>Password:</label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Sign Up</button>
    </form>

</body>
</html>